:root {
  --main-color: #212121;
  --blue-color:#2196f3;
  --white-color:#ffffff;
  --white2-color: #f5f4fa;
  --gray-color:#757575;
  --black-color: #000000;
  --black2-color: #2f303a;
  --black3-color: #212121;
  --test-color: green;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  margin: 0;
}
body {
  font-family: "Roboto", "Open Sans";
  color: var(--main-color);
}
h1, h2, h3, ul, p, li {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 5px solid greenyellow; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ======header==== */
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.header-logo-2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.header-mail {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}
.header-tel {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}
.header-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.section-cap-btn:hover,
.section-cap-btn:focus,
.active-link
 {
  color: var(--blue-color);
}

.header-list {
  display: flex;
}
/* .header-list .header-item {
  margin-right: 50px;
} */
/* .header-list .header-item:last-child {
  margin-right: 0;
} */
.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-list-adress {
  display: flex;
  margin-left: auto;
}
.header-list-adress .header-items-adress:not(:last-child) {
  margin-right: 50px;
}
.header-list-adress .header-items-adress + .header-items-adress {
  margin-left: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;

}


/* ===== main ===== */
.section-cap {
  background: var(--black2-color);
  text-align: center;
  padding-bottom: 200px;
}
.section-cap-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
.section-cap-btn-span {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.container-hero{
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-cap-btn {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;  
  display: inline-block;
  text-align: center;
  }

.section-advantage-list{
  display: flex;
}
.section-advantage-item {
  width: 270px;
}
.section-advantage-list .list + .list {
  margin-left: 50px;
}


.section-advantage-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-advantage-p {
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);

}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black3-color);
  margin-bottom: 50px;
  width: 1200px;
  }
.section-work {
  padding-top: 0;
}
.section-work-list{
  display: flex;
}
.section-work-list .list + .list {
  margin-left: 30px;
}
.section-work-img {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
  display: block;
}
.section-team{
  background: var(--white2-color);
  padding-top: 0;
}
.section-team-list{
  display: flex;
  
}
.section-team-list .list + .list {
  margin-left: 30px;
}
.section-team-item {
  width: 270px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}
.section-team-img {
  background: url(4853.jpg);
  border-radius: 0px;
  margin-bottom: 30px;
}
.section-team-h3 {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.section-team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  padding-bottom: 30px;
}

/* ===== footer ===== */
.footer {
  background: #2f303a;
  /* text-align: left; */
  /* padding-left: 300px; */
}
.footer .container{
  /* width: 1600px; */
  /* background: #2f303a; */
  padding-top: 60px;
  padding-bottom: 60px;
  }
.footer-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail,
.footer-tel,
.footer-adress,
.footer-logo-address {
  font-style: normal;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  /* padding-left: 215px; */
}
.footer-logo-2 {
  color: var(--white-color);
}
.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-logo-address {
  margin-top: 20px;
}
.footer-item {
  margin-bottom: 9px;
}

/* ===== portfolio.html ====== */

.section-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.section-project-item{
  width: calc((100% - 60px) / 3);
  background: var(--white-color);
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
  /* gap: 30px; */
}
.section-project-item:nth-child(3n) {
  margin-right: 0;
}
.section-project-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.section-project-img {
  display: block;
  margin-bottom: 20px;
}
.section-main-top {
  padding-bottom: 0;
  /* margin-bottom: 94px; */
}

.section-top-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background: var(--white2-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  /* min-width: 125px; */
  min-height: 38px;
}

.section-top-list li:nth-child(1) button{
  padding: 6px 25px;
}

.section-project-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black3-color);
  padding-left: 24px;
  margin-bottom: 4px;
}
.section-project-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  margin-bottom: 20px;
  padding-left: 24px;
}
.section-top-btn:hover,
.section-top-btn:focus,
.section-top-btn-span:hover,
.section-top-btn-span:focus {
  background: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}


.section-top-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center
  
}

.section-top-list .list + .list {
  margin-left: 8px;
}




.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
